<div id="landing">
  <div class="landing-title">
    <h1>
      <span class="highlight-title">{{site.username}}</span>
    </h1>
    <h2>
      welcomes you to the
    </h2>
    <h1>
      <span id="txt-rotate" data-period="2000" class="highlight-title" data-rotate='["{{site.typing_text}}", ""]'>
      </span>
    </h1>

    <div style="display: flex; align-items: center; justify-content: center">
      <img src="https://leoctf.dibris.unige.it/themes/core/static/img/logo_orizzontale_WHITE.svg"
        style="max-width: 300px; width: 30%">
      <img src="https://leoctf.dibris.unige.it/themes/core/static/img/ZHA.png" style="max-width: 300px; width: 30%">
      <img src="https://leoctf.dibris.unige.it/themes/core/static/img/Leonardo_logo.svg"
        style="max-width: 300px; width: 30%">
    </div>

  </div>
</div>