<div id="landing">
  <div style="position: absolute;; left:0; right: 0; top:10%">

    <div style="display: flex; align-items: center; justify-content: center">

      <div style="width: 33%; text-align: right">
        <img src="https://leoctf.dibris.unige.it/themes/core/static/img/logo_orizzontale_WHITE.svg"
          style="max-height: 80px">
      </div>
      <div style="width: 33%; text-align: center">
        <img src="https://leoctf.dibris.unige.it/themes/core/static/img/ZHA.png" style="max-height: 80px">
      </div>
      <div style="width: 33%; text-align: left">
        <img src="https://leoctf.dibris.unige.it/themes/core/static/img/Leonardo_logo.svg" style="max-height: 80px">
      </div>
    </div>
  </div>

    <div class="landing-title">

      <h1>
      <span class="highlight-title">{{site.username}}</span>
    </h1>
    <h2>
      welcomes you to the
    </h2>
    <h1>
      <span id="txt-rotate" data-period="2000" class="highlight-title" data-rotate='["{{site.typing_text}}", ""]'>
      </span>
    </h1>



  </div>
</div>