<h1 class="title">Leonardo: Divione Cyber Security</h1>
<p class="description" data-aos="fade-down">

Leonardo is a leading Italian Aerospace, Defense and Security organisation with nearly 50,000 employees, active in 150 countries.
Headquartered in Genoa, the Cyber ​​Security Division provides robust and bespoke solutions for organisations operating within highly regulated safety and mission critical environments, including professional communication networks, control rooms, secure digitalization of Public Administrations, smart mobility, cyber security systems and IT intelligence platforms. 


  <b>Contatti</b>:
  <br><br>
  Form more information: <a href="mailto:cyberandsecurity@leonardocompany.com">cyberandsecurity@leonardocompany.com</a>
  <br><br>
  Twitter: <a href="https://twitter.com/LDO_CyberSec">/LDO_CyberSec</a>
  <br>
  Instagram <a href="https://www.instagram.com/leonardo_company/">/leonardo_company</a>
  <br>
  Linkedin: <a
    href="https://www.linkedin.com/showcase/leonardo-security-&-information-systems/">/leonardo-security-&-information-systems</a>

</p>
