<h1 class="title">
    Leonardo-Unige CyberSecurity Scholarship Program
</h1>
<p class="description" data-aos="fade-down">
  The Leonardo-Unige Cybersecurity Scholarship Program is a training program open to all students of the University of Genoa.  It offers an innovative, hands-on training path that provides students with practical skills needed defend modern ICT infrastructures from cyber attacks.  
</p>
<p class="description" data-aos="fade-down">
The program is developed in the context of <a href="https://alessandroarmando.github.io/ZenHackAdemy/">ZenHackAdemy</a>, a collaborative project that aims to fill the gaps between traditional teaching in Cybersecurity (focused on transfering knowledge) with engaging, game-based techniques (focused on providing skills and competencies).
</p>
<p class="description" data-aos="fade-down">
    The Leonardo-Unige Cybersecurity Scholarship Program in strucured in two phases:

    <ol class="description" >
      <li><b>Hands-on training on selected topics in Cybersecurity</b></li>
      <ul>
	<li>7 hands-on training sessions on selected tocpis in Cybersecurity (cryptography, network security, binary analysis e web security</li>
	<li>Capture-the-Flag (CTF) competition, a jeopardy-style CTF aimed at selecting 8 finalists who will access the next phase.</li>
      </ul>
      <li><b>Advanced Cybersecurity Training</b></li>
      <ul>
	<li>3 hands-on training sessions on advanced Cybersecurity techniques and tools</li>
	<li>Cyber Defence Simulation, where finalists will be asked to defend a virtual ICT infrastructure from attacks launched by a Red Team</li> 
      </ul>
    </ol>
<p class="description" data-aos="fade-down">
  The winners of the Advanced Cybersecurity Training will be awarded 4 scholarships.
</p>

<p class="description" data-aos="fade-down">
  More information for students interested in participating in the program is available <a href="https://unigeit.sharepoint.com/sites/CybersecurityScholarshipProgram20-21">here</a>.
</p>

</p>
