<h1 class="title">
    Leonardo-Unige CyberSecurity Scholarship Program
</h1>
<p class="description" data-aos="fade-down">

    Following the tradition of the ZenHackAdemy Scholarship Project,
    this year <a href="https://unige.it/it/">UniGe</a> and the <a href="https://zenhack.it">ZenHack Team</a> will
    collaborate with <a href="https://www.leonardocompany.com/it/home">Leonardo</a> to provide a hands-on training path,
    that will culminate in a Capture-the-Flag competition.
    <br><br>
    We will meet on Wednesday October 14 at 2:00pm on the MS Teams channel “Cybersecurity Training @UNIGE 2020” (Teams
    code: qt4oghe) and we will present the Cybersecurity training opportunities offered by the University of Genoa.
    <br><br>
    This training activity, which is open to all students of the University of Genoa, will start at 2:30pm on the same
    day and on the same MS Teams channel. Due to COVID-19 restrictions, this initiative is entirely online.

</p>